doctype html
html
  head
    meta(charset='utf-8')
    title w3d2 Assignment #8
    link(rel='stylesheet', href='styles/main.css')
  body
    .container
      .row1 
        .column1
          .time
            h6
              | 4/10/13
            h2
              | 18:30
        .column2
          .icon
            img(src="http://i.imgur.com/GSAzBMH.png" width="25px")
          .narrow
        .column3
          .triangle
        .column4
          .header
            h1
              | Some Generic Filler Text
            .pBox
              p
                | Ecosystem ramen sales. Network effects disruptive graphical user interface supply chain traction metrics ramen market business plan A/B testing prototype lean startup agile development. Branding burn rate bootstrapping iPad. Startup conversion monetization
      .row2
        .column1
          .time
            h6
              | 4/10/13
            h2
              | 18:30
        .column2
          .icon
            img(src="http://i.imgur.com/GSAzBMH.png" width="25px")
          .narrow
        .column3
          .triangle
        .column4
          .header
            h1
              | Some Generic Filler Text
            .pBox
              p
                | Ecosystem ramen sales. Network effects disruptive graphical user interface supply chain traction metrics ramen market business plan A/B testing prototype lean startup agile development. Branding burn rate bootstrapping iPad. Startup conversion monetization 
